 /*============================ BackGround Image section startss ==========================
===========================================================================================*/
.cid-u84DsJdRHp {
  display: flex;
  background-image: url("../../Assets/images/photo-1585914641050-fa9883c4e21c.jpeg");
}
.cid-u84DsJdRHp .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-u84DsJdRHp {
    align-items: flex-end;
  }
  .cid-u84DsJdRHp .row {
    justify-content: center;
  }
  .cid-u84DsJdRHp .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-u84DsJdRHp .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-u84DsJdRHp {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-u84DsJdRHp .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-u84DsJdRHp .content-wrap {
    width: 100%;
  }
}
.cid-u84DsJdRHp .mbr-section-title {
  color: #2eca6a;
}
.cid-u84DsJdRHp .mbr-section-title,
.cid-u84DsJdRHp .mbr-section-subtitle {
  text-align: center;
}
.cid-u84DsJdRHp .mbr-text,
.cid-u84DsJdRHp .mbr-section-btn {
  text-align: center;
}
.cid-u84DsJdRHp .mbr-section-btn .btn:hover {
  background-color: #2eca6a !important;
  color: #000000 !important;
}
/*============================ BackGround Image section startss ============================
===========================================================================================*/


/*============================ First section startss ========================================
===========================================================================================*/
.cid-u84DsJdbWn {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-u84DsJdbWn .mbr-fallback-image.disabled {
  display: none;
}
.cid-u84DsJdbWn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u84DsJdbWn .video-wrapper iframe {
  width: 100%;
}
.cid-u84DsJdbWn .mbr-section-title{
  color: #2eca6a;
}
.cid-u84DsJdbWn .mbr-section-title,
.cid-u84DsJdbWn .mbr-section-subtitle,
.cid-u84DsJdbWn .mbr-text {
  text-align: center;
}
/*============================ First section endsss ========================================
===========================================================================================*/


/*============================ Second section startss ========================================
===========================================================================================*/
.cid-u84DsJeqQ1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-u84DsJeqQ1 .item-subtitle {
  line-height: 1.2;
  color: #2eca6a;
  text-align: center;
}

.cid-u84DsJeqQ1 .item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cid-u84DsJeqQ1 img,
.cid-u84DsJeqQ1 .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-u84DsJeqQ1 .item:focus,
.cid-u84DsJeqQ1 span:focus {
  outline: none;
}
.cid-u84DsJeqQ1 .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u84DsJeqQ1 .item {
    margin-bottom: 1rem;
  }
}
.cid-u84DsJeqQ1 .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
}
.cid-u84DsJeqQ1 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-u84DsJeqQ1 .mbr-section-title {
  color: #2eca6a;
}

.cid-u84DsJeqQ1 .mbr-text,
.cid-u84DsJeqQ1 .mbr-section-btn {
  color: #000000;
  text-align: center;
}

.cid-u84DsJeqQ1 .mbr-section-btn .btn {
  background: #2eca6a !important;
}
.cid-u84DsJeqQ1 .mbr-section-btn .btn:hover {
  color: white !important;
  font-weight: bold !important;
}

.cid-u84DsJeqQ1 .item-title {
  color: #000000;
}
.cid-u84DsJeqQ1 .content-head {
  max-width: 800px;
}

.cid-u84DsJeqQ1 .btn-center {
  align-self: center;
}

.cid-u84DsJeqQ1 .see-btn .btn {
  background: #2eca6a !important;
}

.cid-u84DsJeqQ1 .see-btn .btn:hover {
  color: white !important;
}
/*============================ Second section endsss ========================================
===========================================================================================*/


/*============================ Third section startss ========================================
===========================================================================================*/
.cid-u84DsJdrM5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(222, 222, 222);
}

.cid-u84DsJdrM5 .item-mb {
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .cid-u84DsJdrM5 .item-mb {
    margin-bottom: 1rem;
  }
}

.cid-u84DsJdrM5 .item-head {
  background: var(--primary-color, #2eca6a);
  padding: 2.25rem;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u84DsJdrM5 .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .cid-u84DsJdrM5 .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}

.cid-u84DsJdrM5 .item-content {
  padding: 2.25rem 2.25rem 0;
  background: #ffffff;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u84DsJdrM5 .item-content {
    padding: 0rem 1.5rem;
  }
}

@media (max-width: 767px) {
  .cid-u84DsJdrM5 .item-content {
    padding: 0rem 1.5rem;
  }
}

.cid-u84DsJdrM5 .item-wrapper {
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
  background: #ffffff;
  padding: 0rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

@media (max-width: 767px) {
  .cid-u84DsJdrM5 .item-wrapper {
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u84DsJdrM5 .item-wrapper .item-footer {
    padding: 0 1.5rem 2rem;
  }
}

@media (min-width: 1201px) {
  .cid-u84DsJdrM5 .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}

.cid-u84DsJdrM5 .btn {
  width: -webkit-fill-available;
}

.cid-u84DsJdrM5 .item:focus,
.cid-u84DsJdrM5 span:focus {
  outline: none;
}

.cid-u84DsJdrM5 .mbr-section-btn {
  margin-top: auto !important;
  padding: 2rem 2rem 0;
}
.cid-u84DsJdrM5 .mbr-section-btn .btn {
  background: #2eca6a !important;
}
.cid-u84DsJdrM5 .mbr-section-btn .btn:hover {
  color: white !important;
  font-weight: bold !important;
}

@media (max-width: 991px) {
  .cid-u84DsJdrM5 .mbr-section-btn {
    padding: 0rem 2.25rem 2rem;
  }
}

@media (max-width: 767px) {
  .cid-u84DsJdrM5 .mbr-section-btn {
    padding: 0rem 1.5rem;
    margin-bottom: 2rem;
  }
}

.cid-u84DsJdrM5 .mbr-section-title {
  color: #2eca6a;
}

.cid-u84DsJdrM5 .mbr-section-subtitle {
  color: #ffffff;
}

.cid-u84DsJdrM5 .mbr-text,
.cid-u84DsJdrM5 .mbr-section-btn {
  text-align: left;
}

.cid-u84DsJdrM5 .item-title {
  text-align: left;
  color: var(--primary-text, #ffffff);
}

.cid-u84DsJdrM5 .item-subtitle {
  text-align: left;
  color: var(--primary-text, #ffffff);
}

.cid-u84DsJdrM5 .content-head {
  max-width: 800px;
}
/*============================ Third section endsss ========================================
===========================================================================================*/

/*============================ Forth section startss ========================================
===========================================================================================*/
.cid-u84DsJdqY2 {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  background-color: transparent;
}

.cid-u84DsJdqY2 .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}

.cid-u84DsJdqY2 .mbr-fallback-image.disabled {
  display: none;
}

.cid-u84DsJdqY2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.cid-u84DsJdqY2 .item-wrapper {
  background: #ffffff;
  margin-bottom: 0.5rem;
  padding: 2.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .cid-u84DsJdqY2 .item-wrapper {
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u84DsJdqY2 .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 0.5rem;
  }
}

.cid-u84DsJdqY2 .card-title,
.cid-u84DsJdqY2 .iconfont-wrapper {
  color: #2eca6a;
  text-align: center;
}

.cid-u84DsJdqY2 .content-head {
  max-width: 800px;
}

.cid-u84DsJdqY2 .mbr-section-title {
  color: #000000;
}

.cid-u84DsJdqY2 .mbr-section-subtitle {
  color: #000000;
}

.cid-u84DsJdqY2 .card-text {
  color: #000000;
  text-align: center;
}

.cid-u84DsJdqY2 .img-wrapper {
  display: flex;
  justify-content: center;
}

.cid-u84DsJdqY2 .item-mb {
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .cid-u84DsJdqY2 .item-mb {
    margin-bottom: 1rem;
  }
}
/*============================ Forth section endsss ========================================
===========================================================================================*/

/*============================ Fifth section endsss ========================================
===========================================================================================*/
.cid-u84DsJeeR8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-u84DsJeeR8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u84DsJeeR8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u84DsJeeR8 .title .num {
  width: 100%;
  display: block;
  color: #2eca6a;
}
.cid-u84DsJeeR8 .title .card-title {
  z-index: 1;
}
.cid-u84DsJeeR8 .num {
  color: var(--primary-color, #9fe870);
  text-align: center;
}
.cid-u84DsJeeR8 .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u84DsJeeR8 * {
    text-align: center !important;
  }
  .cid-u84DsJeeR8 .content-column {
    margin-bottom: 2rem;
  }
}
.cid-u84DsJeeR8 .content-head {
  max-width: 800px;
}
.cid-u84DsJeeR8 .card-text {
  text-align: center;
}
.cid-u84DsJeeR8 .card-title,
.cid-u84DsJeeR8 .card-img {
  text-align: center;
}
/*============================ Fifth section endsss ========================================
===========================================================================================*/


/*============================ 6th section starts ========================================
===========================================================================================*/
.cid-u84DsJeuxB {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-u84DsJeuxB .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-u84DsJeuxB .item-wrapper {
  margin-bottom: 2rem;
}
.cid-u84DsJeuxB .card-title,
.cid-u84DsJeuxB .iconfont-wrapper {
  color: #000000;
}
.cid-u84DsJeuxB .card-text {
  color: #000000;
  text-align: center;
}
.cid-u84DsJeuxB .content-head {
  max-width: 800px;
}
.cid-u84DsJeuxB .mbr-section-title {
  color: #2eca6a;
}
.cid-u84DsJeuxB .card-title,
.cid-u84DsJeuxB .img-wrapper {
  text-align: center;
}
.cid-u84DsJeuxB .card-title {
  color: #2eca6a;
}
.cid-u84DsJeuxB .img-wrapper {
  display: flex;
  justify-content: center;
}
/*============================ 6th section endsss ========================================
===========================================================================================*/

/*============================ 7th section starts ========================================
===========================================================================================*/
.cid-u84DsJepCy {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("../../Assets/images/photo-1560448204-e02f11c3d0e2.jpeg");
}

.cid-u84DsJepCy .mbr-fallback-image.disabled {
  display: none;
}

.cid-u84DsJepCy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.cid-u84DsJepCy .card-wrapper {
  background: #ffffff;
}

@media (max-width: 767px) {
  .cid-u84DsJepCy .card-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .cid-u84DsJepCy .card-wrapper {
    padding: 2.25rem;
  }
}

@media (min-width: 992px) {
  .cid-u84DsJepCy .card-wrapper {
    padding: 4rem;
  }
}

.cid-u84DsJepCy .card-title {
  color: #2eca6a;
}
.cid-u84DsJepCy .mbr-text,
.cid-u84DsJepCy .mbr-section-btn {
  text-align: center;
}
.cid-u84DsJepCy .mbr-section-btn .btn {
  background: #2eca6a !important;
}

.cid-u84DsJepCy .mbr-section-btn .btn:hover {
  color: white !important;
}
/*============================ 7th section endsss ========================================
===========================================================================================*/



/*============================ 8th section starts ========================================
===========================================================================================*/
.cid-u6kSenxY0V {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(193, 193, 193) !important;
}

.cid-u6kSenxY0V .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
}

.cid-u6kSenxY0V .panel-group {
  border: none;
}

.cid-u6kSenxY0V .card-header {
  padding: 1.2rem 0.5rem;
}

@media (max-width: 767px) {
  .cid-u6kSenxY0V .card-header {
    padding: 1rem 0rem;
  }
}

.cid-u6kSenxY0V .panel-body {
  padding: 0 0.5rem;
  padding-bottom: 1rem;
}

@media (max-width: 767px) {
  .cid-u6kSenxY0V .panel-body {
    padding: 0rem;
    padding-bottom: 1rem;
  }
}

.cid-u6kSenxY0V .img-col {
  padding: 0;
}

.cid-u6kSenxY0V .img-item {
  height: 100%;
}

.cid-u6kSenxY0V img {
  height: 100%;
  object-fit: cover;
}

.cid-u6kSenxY0V .collapsed span {
  transform: rotate(0deg);
}

.cid-u6kSenxY0V .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cid-u6kSenxY0V p {
  margin-bottom: 0.3rem;
}

.cid-u6kSenxY0V .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}

.cid-u6kSenxY0V .card {
  background: #ffffff;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

@media (max-width: 767px) {
  .cid-u6kSenxY0V .card {
    padding: 1.5rem;
  }
}

.cid-u6kSenxY0V .panel-text {
  color: #000000;
}

.cid-u6kSenxY0V .mbr-section-title {
  text-align: center;
  color: #2eca6a;
}

.cid-u6kSenxY0V .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}

.cid-u6kSenxY0V .panel-title-edit,
.cid-u6kSenxY0V .mbr-iconfont {
  color: #000000;
}

.cid-u6kSenxY0V .card .panel-body .mbr-fonts-style {
  color: #11CF11;
}
/*============================ 8th section endsss ========================================
===========================================================================================*/
  


