/*============================ BackGround Image section startss ==========================
===========================================================================================*/
  .cid-u84Zaz9Qmi {
    display: flex;
    background-image: url("../../Assets/images/slide-3.jpg");
  }
  .cid-u84Zaz9Qmi .mbr-overlay {
    background-color: #000000;
    opacity: 0.5;
  }
  @media (min-width: 768px) {
    .cid-u84Zaz9Qmi {
      align-items: flex-end;
    }
    .cid-u84Zaz9Qmi .row {
      justify-content: center;
    }
    .cid-u84Zaz9Qmi .content-wrap {
      padding: 1rem 3rem;
    }
  }
  @media (max-width: 991px) and (min-width: 768px) {
    .cid-u84Zaz9Qmi .content-wrap {
      min-width: 50%;
    }
  }
  @media (max-width: 767px) {
    .cid-u84Zaz9Qmi {
      -webkit-align-items: center;
      align-items: flex-end;
    }
    .cid-u84Zaz9Qmi .mbr-row {
      -webkit-justify-content: center;
      justify-content: center;
    }
    .cid-u84Zaz9Qmi .content-wrap {
      width: 100%;
    }
  }
  .cid-u84Zaz9Qmi .mbr-section-title {
    color: #2eca6a;
  }
  .cid-u84Zaz9Qmi .mbr-section-title,
  .cid-u84Zaz9Qmi .mbr-section-subtitle {
    text-align: center;
  }
  .cid-u84Zaz9Qmi .mbr-text,
  .cid-u84Zaz9Qmi .mbr-section-btn {
    text-align: center;
  }
  .cid-u84Zaz9Qmi .mbr-section-btn .btn:hover {
    background-color: #2eca6a !important;
    color: #000000 !important;
    font-weight: bold !important;
  }
/*============================ BackGround Image section startss ============================
===========================================================================================*/
  
  
  
/*============================ First section startss ========================================
===========================================================================================*/
.cid-u84Zaz9mQM {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgb(173, 170, 170);
  }

  .cid-u84Zaz9mQM .item-mb {
    margin-bottom: 2rem;
  }

  @media (max-width: 767px) {
    .cid-u84Zaz9mQM .item-mb {
      margin-bottom: 1rem;
    }
  }

  .cid-u84Zaz9mQM .item-head {
    background: var(--primary-color, #2eca6a);
    padding: 2.25rem;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u84Zaz9mQM .item-head {
      padding: 2rem 1.5rem;
      margin-bottom: 2rem;
    }
  }

  @media (max-width: 767px) {
    .cid-u84Zaz9mQM .item-head {
      padding: 2rem 1.5rem;
      margin-bottom: 2rem;
    }
  }

  .cid-u84Zaz9mQM .item-content {
    padding: 2.25rem 2.25rem 0;
    background: #ffffff;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u84Zaz9mQM .item-content {
      padding: 0rem 1.5rem;
    }
  }

  @media (max-width: 767px) {
    .cid-u84Zaz9mQM .item-content {
      padding: 0rem 1.5rem;
    }
  }

  .cid-u84Zaz9mQM .item-wrapper {
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: 2rem;
    background: #ffffff;
    padding: 0rem;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  @media (max-width: 767px) {
    .cid-u84Zaz9mQM .item-wrapper {
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u84Zaz9mQM .item-wrapper .item-footer {
      padding: 0 1.5rem 2rem;
    }
  }

  @media (min-width: 1201px) {
    .cid-u84Zaz9mQM .item-wrapper .item-footer {
      padding: 0 2rem 2rem;
    }
  }

  .cid-u84Zaz9mQM .btn {
    width: -webkit-fill-available;
  }

  .cid-u84Zaz9mQM .item:focus,
  .cid-u84Zaz9mQM span:focus {
    outline: none;
  }

  .cid-u84Zaz9mQM .mbr-section-btn .btn {
    background: #2eca6a !important;
  }
  .cid-u84Zaz9mQM .mbr-section-btn {
    margin-top: auto !important;
    padding: 2rem 2rem 0;
  }
  .cid-u84Zaz9mQM .mbr-section-btn .btn:hover {
    color: white !important;
    font-weight: bold !important;
  }
  @media (max-width: 991px) {
    .cid-u84Zaz9mQM .mbr-section-btn {
      padding: 0rem 2.25rem 2rem;
    }
  }

  @media (max-width: 767px) {
    .cid-u84Zaz9mQM .mbr-section-btn {
      padding: 0rem 1.5rem;
      margin-bottom: 2rem;
    }
  }

  .cid-u84Zaz9mQM .mbr-section-title {
    color: #000000;
  }

  .cid-u84Zaz9mQM .mbr-section-subtitle {
    color: #ffffff;
  }

  .cid-u84Zaz9mQM .mbr-text,
  .cid-u84Zaz9mQM .mbr-section-btn {
    text-align: left;
  }

  .cid-u84Zaz9mQM .item-title {
    text-align: left;
    color: var(--primary-text, #ffffff);
  }

  .cid-u84Zaz9mQM .item-subtitle {
    text-align: left;
    color: var(--primary-text, #ffffff);
  }

  .cid-u84Zaz9mQM .content-head {
    max-width: 800px;
  }
/*============================ First section endsss ========================================
===========================================================================================*/


  
/*============================ Second section startss ========================================
===========================================================================================*/
.cid-u84Zaz9TZ4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: transparent;
}
.cid-u84Zaz9TZ4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u84Zaz9TZ4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-u84Zaz9TZ4 .card-content-text {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
}
@media (min-width: 768px) {
  .cid-u84Zaz9TZ4 .card-content-text {
    padding: 2.25rem 2.25rem 0 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-u84Zaz9TZ4 .card-content-text {
    padding: 4rem 4rem 1rem 4rem;
  }
}
.cid-u84Zaz9TZ4 .card-wrapper {
  background: #ffffff;
}
.cid-u84Zaz9TZ4 .mbr-text,
.cid-u84Zaz9TZ4 .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-u84Zaz9TZ4 .card-wrapper .card-content-text .card-title {
  color: #2eca6a;
}
.cid-u84Zaz9TZ4 .card-title,
.cid-u84Zaz9TZ4 .card-box {
  text-align: left;
  color: #000000;
}
/*============================ Second section endsss ========================================
===========================================================================================*/


  
  
/*============================ Third section startss ========================================
===========================================================================================*/
.cid-u84Zazasvh {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-u84Zazasvh .mbr-fallback-image.disabled {
  display: none;
}
.cid-u84Zazasvh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u84Zazasvh p {
  line-height: 1.2;
}
.cid-u84Zazasvh .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 770px;
  max-width: 570px;
}
@media (max-width: 768px) {
  .cid-u84Zazasvh .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-u84Zazasvh .embla__button--next,
.cid-u84Zazasvh .embla__button--prev {
  display: flex;
}
.cid-u84Zazasvh .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-u84Zazasvh .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-u84Zazasvh .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-u84Zazasvh .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-u84Zazasvh .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 768px) {
  .cid-u84Zazasvh .embla__button {
    top: auto;
  }
}
.cid-u84Zazasvh .item-wrapper {
  height: 100%;
}
.cid-u84Zazasvh .item-menu-overlay {
  border-radius: 2rem;
}
.cid-u84Zazasvh .user_image {
  max-width: 600px;
  max-height: 400px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  margin: 0 auto 2rem auto;
}
.cid-u84Zazasvh .user_image img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
@media (max-width: 230px) {
  .cid-u84Zazasvh .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-u84Zazasvh .embla {
  position: relative;
  width: 100%;
}
.cid-u84Zazasvh .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-u84Zazasvh .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-u84Zazasvh .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-u84Zazasvh .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-u84Zazasvh .user_text {
  color: #2eca6a;
}
.cid-u84Zazasvh .user_desk {
  color: #000000;
}
.cid-u84Zazasvh .user_name {
  color: #11CF11;
}
/*============================ Third section endsss ========================================
===========================================================================================*/
  
  
  
  
  
/*============================ Forth section startss ========================================
===========================================================================================*/
.cid-u84ZazbFi3 {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: rgb(215, 215, 215);
}
.cid-u84ZazbFi3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u84ZazbFi3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u84ZazbFi3 .row-reverse {
  flex-direction: row-reverse;
}
.cid-u84ZazbFi3 .row {
  flex-direction: row-reverse;
}
.cid-u84ZazbFi3 .row-reverse {
  flex-direction: row;
}
@media (max-width: 991px) {
  .cid-u84ZazbFi3 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-u84ZazbFi3 .row {
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 991px) {
  .cid-u84ZazbFi3 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-u84ZazbFi3 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-u84ZazbFi3 .mbr-section-title {
  color: #2eca6a;
}
.cid-u84ZazbFi3 .mbr-text,
.cid-u84ZazbFi3 .mbr-section-btn {
  color: #000000;
}
.cid-u84ZazbFi3 img {
  width: 100%;
  object-fit: cover;
  height: 30rem;
}
@media (max-width: 767px) {
  .cid-u84ZazbFi3 img {
    height: 15rem;
  }
}
/*============================ Forth section endsss ========================================
===========================================================================================*/


/*============================ Fifth section startss ========================================
===========================================================================================*/
.cid-u84Zazb1v0 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(215, 215, 215);
}

.cid-u84Zazb1v0 .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}

.cid-u84Zazb1v0 .mbr-fallback-image.disabled {
  display: none;
}

.cid-u84Zazb1v0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.cid-u84Zazb1v0 .item-wrapper {
  background: #ffffff;
  margin-bottom: 0.5rem;
  padding: 2.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .cid-u84Zazb1v0 .item-wrapper {
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u84Zazb1v0 .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 0.5rem;
  }
}

.cid-u84Zazb1v0 .card-title,
.cid-u84Zazb1v0 .iconfont-wrapper {
  color: #2eca6a;
  text-align: center;
}

.cid-u84Zazb1v0 .content-head {
  max-width: 800px;
}

.cid-u84Zazb1v0 .mbr-section-title {
  color: #000000;
}

.cid-u84Zazb1v0 .mbr-section-subtitle {
  color: #000000;
}

.cid-u84Zazb1v0 .card-text {
  color: #000000;
  text-align: center;
}

.cid-u84Zazb1v0 .img-wrapper {
  display: flex;
  justify-content: center;
}

.cid-u84Zazb1v0 .item-mb {
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .cid-u84Zazb1v0 .item-mb {
    margin-bottom: 1rem;
  }
}
/*============================ Fifth section endsss ========================================
===========================================================================================*/


/*============================ 6th section startss ========================================
===========================================================================================*/
.cid-u84ZazcrEE .mbr-fallback-image.disabled {
  display: none;
}
.cid-u84ZazcrEE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: transparent;
}
/*============================ 6th section endsss ========================================
===========================================================================================*/


/*============================ 7th section startss ========================================
===========================================================================================*/
.cid-u6kSenxY0V {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(193, 193, 193);
}

.cid-u6kSenxY0V .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
}

.cid-u6kSenxY0V .panel-group {
  border: none;
}

.cid-u6kSenxY0V .card-header {
  padding: 1.2rem 0.5rem;
}

@media (max-width: 767px) {
  .cid-u6kSenxY0V .card-header {
    padding: 1rem 0rem;
  }
}

.cid-u6kSenxY0V .panel-body {
  padding: 0 0.5rem;
  padding-bottom: 1rem;
}

@media (max-width: 767px) {
  .cid-u6kSenxY0V .panel-body {
    padding: 0rem;
    padding-bottom: 1rem;
  }
}

.cid-u6kSenxY0V .img-col {
  padding: 0;
}

.cid-u6kSenxY0V .img-item {
  height: 100%;
}

.cid-u6kSenxY0V img {
  height: 100%;
  object-fit: cover;
}

.cid-u6kSenxY0V .collapsed span {
  transform: rotate(0deg);
}

.cid-u6kSenxY0V .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cid-u6kSenxY0V p {
  margin-bottom: 0.3rem;
}

.cid-u6kSenxY0V .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}

.cid-u6kSenxY0V .card {
  background: #ffffff;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

@media (max-width: 767px) {
  .cid-u6kSenxY0V .card {
    padding: 1.5rem;
  }
}

.cid-u6kSenxY0V .panel-text {
  color: #000000;
}

.cid-u6kSenxY0V .mbr-section-title {
  text-align: center;
  color: #2eca6a;
}

.cid-u6kSenxY0V .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}

.cid-u6kSenxY0V .panel-title-edit,
.cid-u6kSenxY0V .mbr-iconfont {
  color: #000000;
}

.cid-u6kSenxY0V .card .panel-body .mbr-fonts-style {
  color: #11CF11;
}
/*============================ 7th section endsss ========================================
===========================================================================================*/


/*============================ 8th section startss ========================================
===========================================================================================*/
.cid-u84Zazcmjz {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-u84Zazcmjz .mbr-fallback-image.disabled {
  display: none;
}
.cid-u84Zazcmjz .item-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cid-u84Zazcmjz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u84Zazcmjz .mbr-iconfont {
  display: inline-flex;
  font-size: 2rem;
  color: var(--primary-color, #d70081);
  width: 80px;
  justify-content: center;
  align-items: center;
  background: #ffd7ef;
  height: 80px;
  border-radius: 50%;
}
.cid-u84Zazcmjz .card-title,
.cid-u84Zazcmjz .iconfont-wrapper {
  color: var(--primary-color, #2eca6a);
  text-align: center;
}
.cid-u84Zazcmjz .card-text {
  color: #000000;
  text-align: center;
}
.cid-u84Zazcmjz .content-head {
  max-width: 800px;
}
.cid-u84Zazcmjz .mbr-section-title {
  color: #000000;
}
/*============================ 8th section endsss ========================================
===========================================================================================*/



/*============================ 9th section startss ========================================
===========================================================================================*/
.cid-u82pOPbMYF {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: transparent;
}
.cid-u82pOPbMYF .mbr-fallback-image.disabled {
  display: none;
}
.cid-u82pOPbMYF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u82pOPbMYF .card-wrapper {
  background: var(--dominant-color, #2eca6a);
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-u82pOPbMYF .card-wrapper {
    padding: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-u82pOPbMYF .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-u82pOPbMYF .card-wrapper {
    padding: 4rem;
  }
}
.cid-u82pOPbMYF .mbr-text,
.cid-u82pOPbMYF .mbr-section-btn {
  color: #ffd7ef;
}
.cid-u82pOPbMYF .mbr-section-btn .btn{
  background: white !important;
}
.cid-u82pOPbMYF .mbr-section-btn .btn:hover {
  background-color: black !important;
  color: white !important;
}
.cid-u82pOPbMYF .card-title,
.cid-u82pOPbMYF .card-box {
  text-align: center;
  color: white;
}
/*============================ 9th section endsss ========================================
===========================================================================================*/
    
  
  
  