 /*============================ BackGround Image section startss ==========================
===========================================================================================*/
.cid-u82pOOXhoP {
  display: flex;
  background-image: url("../../Assets/images/photo-1600596542815-ffad4c1539a9.jpeg");
}
.cid-u82pOOXhoP .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-u82pOOXhoP {
    align-items: flex-end;
  }
  .cid-u82pOOXhoP .row {
    justify-content: center;
  }
  .cid-u82pOOXhoP .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-u82pOOXhoP .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-u82pOOXhoP {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-u82pOOXhoP .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-u82pOOXhoP .content-wrap {
    width: 100%;
  }
}
.cid-u82pOOXhoP .mbr-section-title {
  color: #2eca6a;
}
.cid-u82pOOXhoP .mbr-section-title,
.cid-u82pOOXhoP .mbr-section-subtitle {
  text-align: center;
}
.cid-u82pOOXhoP .mbr-text,
.cid-u82pOOXhoP .mbr-section-btn {
  text-align: center;
}
.cid-u82pOOXhoP .mbr-section-btn .btn:hover {
  background-color: #2eca6a !important;
}
/*============================ BackGround Image section startss ============================
===========================================================================================*/



/*============================ First section startss ========================================
===========================================================================================*/

.cid-u82pOOY8Tm {
    padding-top: 4rem;
    padding-bottom: 2rem;
  background-color: transparent;
}

.cid-u82pOOY8Tm img,
.cid-u82pOOY8Tm .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}

.cid-u82pOOY8Tm .item:focus,
.cid-u82pOOY8Tm span:focus {
  outline: none;
}

.cid-u82pOOY8Tm .item {
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .cid-u82pOOY8Tm .item {
    margin-bottom: 1rem;
  }
}

.cid-u82pOOY8Tm .item-content {
  margin-top: 2rem;
  padding: 0 2.25rem 2.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u82pOOY8Tm .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 767px) {
  .cid-u82pOOY8Tm .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

.cid-u82pOOY8Tm .item-wrapper {
  position: relative;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.cid-u82pOOY8Tm .item-wrapper .item-footer {
  margin-top: auto;
}

.cid-u82pOOY8Tm .mbr-section-title {
  color: #2eca6a;
}

.cid-u82pOOY8Tm .item-title {
  text-align: center;
  color: #2eca6a;
}

.cid-u82pOOY8Tm .item-subtitle {
  text-align: center;
}

.cid-u82pOOY8Tm .mbr-text,
.cid-u82pOOY8Tm .item .mbr-section-btn {
  text-align: center;
}

.cid-u82pOOY8Tm .item .mbr-section-btn .btn {
  background: #2eca6a !important;
}

.cid-u82pOOY8Tm .item .mbr-section-btn .btn:hover {
  color: white !important;
}

.cid-u82pOOY8Tm .content-head {
  max-width: 800px;
}

.cid-u82pOOY8Tm .see-btn .btn {
  background: #2eca6a !important;
}

.cid-u82pOOY8Tm .see-btn .btn:hover {
  color: white !important;
}
/*============================ First section endsss ========================================
===========================================================================================*/





/*============================ Second section startss ========================================
===========================================================================================*/
.cid-u6kSenxwTx {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: transparent;
  }
  
  .cid-u6kSenxwTx .item-subtitle {
    line-height: 1.2;
    color: #2eca6a;
    text-align: center;
  }
  
  .cid-u6kSenxwTx img,
  .cid-u6kSenxwTx .item-img {
    width: 100%;
    height: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  .cid-u6kSenxwTx .item:focus,
  .cid-u6kSenxwTx span:focus {
    outline: none;
  }
  
  .cid-u6kSenxwTx .item {
    margin-bottom: 2rem;
  }
  
  @media (max-width: 767px) {
    .cid-u6kSenxwTx .item {
      margin-bottom: 1rem;
    }
  }
  
  .cid-u6kSenxwTx .item-wrapper {
    position: relative;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  
  .cid-u6kSenxwTx .mbr-section-title {
    color: #2eca6a;
  }
  
  .cid-u6kSenxwTx .mbr-text,
  .cid-u6kSenxwTx .mbr-section-btn {
    color: #232323;
    text-align: center;
  }
  
  .cid-u6kSenxwTx .mbr-section-btn .btn {
    background: #2eca6a !important;
  }
  
  .cid-u6kSenxwTx .mbr-section-btn .btn:hover {
    color: white !important;
  }

  .cid-u6kSenxwTx .item-title {
    color: #232323;
  }
  
  .cid-u6kSenxwTx .content-head {
    max-width: 800px;
  }

  .cid-u6kSenxwTx .see-btn .btn {
    background: #2eca6a !important;
  }

  .cid-u6kSenxwTx .see-btn .btn:hover {
    color: white !important;
  }
  /*=========================================================================================
  ===========================================================================================*/
  
/*============================ Second section endsss ========================================
===========================================================================================*/


/*============================ Third section startss ========================================
===========================================================================================*/
.cid-u82pOOY2w3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: transparent;
}

.cid-u82pOOY2w3 .mbr-fallback-image.disabled {
  display: none;
}

.cid-u82pOOY2w3 .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}

.cid-u82pOOY2w3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.cid-u82pOOY2w3 .item-wrapper {
  background: #ffffff;
  margin-bottom: 2rem;
  padding: 2.25rem;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u82pOOY2w3 .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .cid-u82pOOY2w3 .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}

.cid-u82pOOY2w3 .card-title,
.cid-u82pOOY2w3 .iconfont-wrapper {
  color: #2eca6a;
}

.cid-u82pOOY2w3 .card-text {
  color: #000000;
  text-align: center;
}

.cid-u82pOOY2w3 .content-head {
  max-width: 800px;
}

.cid-u82pOOY2w3 .mbr-section-title {
  color: #000000;
}

.cid-u82pOOY2w3 .img-wrapper {
  display: flex;
  justify-content: center;
}

.cid-u82pOOY2w3 .card-title,
.cid-u82pOOY2w3 .img-wrapper {
  text-align: center;
}

/*============================ Third section endsss ========================================
===========================================================================================*/





/*============================ Forth section startss ========================================
===========================================================================================*/

  /*============================ Forth section endsss ========================================
  ===========================================================================================*/
  


